<% include partials/header %>
<h1>SignUp Form</h1>
<form method="POST" action="/register">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Submit</button>
</form>
<br>
<p>Already a user <a  href="/Login">Login</a></p>
<% include partials/footer %> 